<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" />
    <link
      rel="stylesheet"
      href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="footer-distributed">
      <div class="footer-left">
        <h3>Smart<span>Mart</span></h3>
      </div>
      <div class="footer-right">
        <p class="footer-links  ">
          <a href="#">Home</a>
          ·
          <a href="#">Blog</a>
          ·
          <a href="#">Pricing</a>
          ·
          <a href="#">About</a>
          ·
          <a href="#">Faq</a>
          ·
          <a href="#">Contact</a>
        </p>
        <div class="footer-icons">
          <a href="#" style="background-color:#3C5A99"
            ><i class="fa fa-facebook" style="color:white"></i
          ></a>
          <a href="#" style="background-color:#38A1F3"
            ><i class="fa fa-twitter" style="color:white"></i
          ></a>
          <a href="#" style="background-color:#0077B5"
            ><i class="fa fa-linkedin" style="color:white"></i
          ></a>
          <a href="#" style="border : white 1px solid"
            ><i class="fa fa-github"></i
          ></a>
        </div>
      </div>
    </div>
  </body>
</html>
